client.py
*.swp
*.synctex.gz
*.pyc
*.DS_Store
*.log
*.aux
*.dvi
*.out
*.bbl
*.blg
sw-system.pdf
sw-cfhtls.pdf
sw-publication-policy-cfhtls.pdf
sw-publication-policy-gen.pdf
workspace
litter
*.pickle
fin*
listfiles_d1_d11
data
*.cpt
*tar.gz
falsepositives
*.mov
*.m4v
*.mp4
talks
SIMCT
