# ======================================================================
#
# Space Warps Analysis Pipeline configuration file.
#
# Lines starting with '#' are ignored; all other lines must contain a
# Name : Value pair to be read into the parameters dictionary.
#
# This file is part of the Space Warps project, and is distributed 
# under the GPL v2 by the Space Warps Science Team.
# http://spacewarps.org/
# 
# SWAP configuration is modelled on that written for the
# Pangloss project, by Tom Collett (IoA) and Phil Marshall (Oxford). 
# https://github.com/drphilmarshall/Pangloss/blob/master/example/example.config
#
# ======================================================================

survey: SURVEY

start: the_beginning

bureaufile: None

samplefile: None

stage: STAGE

verbose: False
one_by_one: False

report: True

repickle: True

# ----------------------------------------------------------------------

initialPL: 0.5
initialPD: 0.5

agents_willing_to_learn: True

a_few_at_the_start: 0

hasty: True

skepticism: 2

use_marker_positions: True

detection_threshold: 0.95
rejection_threshold: 1.e-7

# ----------------------------------------------------------------------

dbspecies: Mongo

# ======================================================================
