<style type="text/css"> 
  #container {position: relative; left: 0px; bottom: 0px; height:450px; width:800px;}
  #carousel { height:403px; width:850px; border:1px solid #000;overflow:hidden;}
    #carousel ul { list-style-type:none; margin-top:0px; width:2000px; margin-left:0; left:0; padding-left:1px;}
    #carousel li { display:inline; }
    #carousel ul li img{ position: relative; top: -15px; width:400px; height:400px; border:1px solid #ccc;float:left; }
  #navPrev {float:left;}
  #navNext {float:right;}
</style> 
