/*

Original version: http://htmlrockstarsdemo.com/playground/tab-example/style.css
Author: unknown

Modified: Phil Marshall <dr.phil.marshall@gmail.com>
From date: 2013-02-16

*/

#box{
	margin: 150px auto;
	width: 900px;
	text-align: left;	
	border: 1px solid #ccc;
	-moz-box-shadow: 0 0 3px #aaa;
	-webkit-box-shadow: 0 0 3px #aaa;
	box-shadow: 0 0 3px #aaa;
}

#menu{
	overflow: hidden;
	background: -moz-linear-gradient(top, #999, #666);
	background: -webkit-gradient(linear, left top, left bottom, from(#999), to(#666), color-stop(1, #fff));
	background: linear-gradient(top, rgba(40,34,32,1), rgba(22,18,17,1));
}
	
#menu li{
	float: left;
	width: 100px;
	border-right: 1px solid #999;	
}

#menu li a{
	float: left;
	width: 99px;
	color: #333;
	font-size: 14px;
	font-weight: bold;
	height: 16px;
	padding: 8px 0 8px 0;
	text-align: center;
	z-index: 10;
	position: relative;
}

/*
#menu li a:hover{
	background: #f1f1f1;
	text-decoration: none;
}
*/

#boxes{
	position: relative;
	min-height: 500px;
}

#boxes h1, #boxes h2, #boxes h3{
	font-size: 16px;
	font-weight: bold;
}


.box:target, .box:first-child{
	display: block;
}

.box{
	padding:25px;
	display: none;
	position: absolute;
	top:0;
	left:0;
	width: 850px;
	min-height: 450px;
	background: #202020;
}

.box:target span{			
	height: 32px;
	width: 99px;
	background: #fff;
	display: block;
	position: absolute;
	top: -32px;
	z-index:0;
}

#lensedquasars span{			
	left:100px;
	width: 100px;
	background: #00ff00;
}

#galaxylenses span{			
	left:0;
	width: 100px;
	background: #00ff00;
}

#clusterlenses span{			
	left:100px;
	width: 100px;
	background: #00ff00;
}

#spiralsandrings span{			
	left:200px;
	width: 100px;
	background: #ff0000;
}	

#loners span{			
	left:200px;
	width: 100px;
	background: #ff0000;
}	

#lightweights span{			
	left:200px;
	width: 100px;
	background: #ff0000;
}	

.box ul, .box p{
	line-height: 1.5em;
	padding-top: 1em;
}

#boxes a{
	color: #ff0000;
}

.box li a{
	display: block;
	line-height: 2.2em;
	font-size: 14px;
	margin-bottom: 6px;
	padding-left: 10px;
	border-left: 1px solid #bbb;
}

#boxes ul li a:hover{
	color: #fff;
	font-weight: bold;
	background: #999;
	text-decoration: none;
	border-left: 1px solid #555;
}






